@page "/404"

<PageTitle>Page not found</PageTitle>

<h1>Page not found</h1>
<p>Sorry, but there's nothing here!</p>

<div class="mt-3">
    <a class="btn btn-primary btn-lg" href="/">Go Home</a>
</div>
